{% comment %}
Add default products to help with onboarding for collections/all only.

The onboarding styles and products are only loaded if the
store has no products.
{% endcomment %}

{% for i in (1..8) %}
	<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
        <div class="product-img v2">
            <a href="/admin/products" class="hover-images effect">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      						{{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      	</a>
            <div class="overlay-img box-content-center hover-price">
                <div class="product-price inovl">
                    <p class="price-n">$58.00</p>
                </div>
            </div>
        </div>
        <div class="product-action v2">
            <a href="#" class="btn-cart" title="Add to cart"><i class="icon-bag"></i></a>
            <a href="#" class="btn-wishlist" title="Wishlist"><i class="icon-heart"></i></a>
            <a href="#" class="btn-switch" title="Compare"><i class="fa fa-eye"></i></a>
        </div>
        <div class="product-info v2">
            <h3 class="product-title"><a href="/admin/products"  title="ShopiLaunch Product">Brid in the Cage 299pln</a></h3>
            <div class="product-price hidden-md hidden-lg">
                <p class="price-n">$58.00</p>
            </div>
        </div>
    </div>
{% endfor %}