<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="product-info-ver2 center text-center">
       	<h3 title="ShopiLaunch Product">ShopiLaunch Product</h3>      
        <p class="product-desc center">Totam aperiam, eaque ipsa quae ab illo inventore veritatis</p>
        <a href="/admin/products" class="btn-shop">Shop Now</a>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="product-img">
        {{ 'product-1' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        <div class="ribbon-price-h left"><span>$270.00</span></div>
    </div>
</div>