{% for i in (1..2) %}
 <div class="blog-item">
    <div class="post-img">
        <a href="#" class="hover-images"><img src="{{'blog_1.jpg'| asset_url }}" alt="" class="img-responsive"></a>
    </div>
    <div class="post-info v2">
        <div class="post-date v2 f-14">18 August 2018</div>
        <h3 class="post-title v2"><a href="#">Paris, jet’aime: jeremy’s adventures at maison &amp; objet</a></h3>
        <a href="#" class="btn-find v3">FIND OUT MORE »</a>
    </div>
</div>
{% endfor %}