{% for i in (1..2) %}
<div class="col-xs-12 col-sm-4 col-md-4 blog-item">
    <div class="post-info">
        <div class="post-date">18 August 2018</div>
        <h3 class="post-title"><a href="#">Paris, jet’aime: jeremy’s adventures at maison & objet</a></h3>
        <div class="post-desc">Aenean imperdiet. Etiam ultricies nisi vel augueNam eget dui</div>
        <a href="#" class="btn-find">FIND OUT MORE »</a>
    </div>
</div>
{% endfor %}