{% for i in (1..3) %}
<div class="col-xs-12 col-sm-4 col-md-4 blog-item">
    <div class="post-info">
        <div class="post-date v2">18 August 2018</div>
        <h3 class="post-title v2"><a href="#">Paris, jet’aime: jeremy’s adventures at maison &amp; objet</a></h3>
        <div class="post-desc v2">Aenean imperdiet. Etiam ultricies nisi vel augueNam eget dui</div>
        <a href="#" class="btn-find v2">FIND OUT MORE »</a>
    </div>
</div>
{% endfor %}