

<div class="filter-block filter-brand">
    <div class="form-group">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">{{section.settings.shop_by_brand_title}}
        </button>
        <ul class="dropdown-menu">
            {% for product_vendor in collection.all_vendors %}
          	<li>
              {{ product_vendor | link_to_vendor }}
            </li>
    		{% endfor %}
        </ul>
    </div>
</div>