<div class="page-left-sidebar v5">
  <div class="navbar-wrapper v5 fix-height">

      <nav class="main-menu v5 hidden-xs hidden-sm">
          <div class="collapse navbar-collapse">
              {% include 'menu-sidebar'%}
          </div>
      </nav>
      {% include 'social-header-v2'%}
  </div>
</div>